<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <context:annotation-config/>
   <!-- bean definitions go here -->
   <bean id="employee" class="com.Spring.Constuctor.in.Employee" scope="singleton">
   <constructor-arg  value="10"></constructor-arg>
   <constructor-arg  value="Shubham"></constructor-arg>
    <constructor-arg  value="Pune"></constructor-arg>
 	<property name="id"><value>20</value></property>  
 	<property name="name"><value>Saggy</value></property>
 	<property name="address"><value>Pune</value></property>
   </bean>
   
    <bean id="laptop" class="com.Spring.Constuctor.in.Laptop" scope="prototype">
   <constructor-arg  value="1"></constructor-arg>
   <constructor-arg  value="Intel5"></constructor-arg>
    <constructor-arg  value="5GM"></constructor-arg>
 	<property name="id"><value>20</value></property>  
 	<property name="cpu"><value>Intel5</value></property>  
 	<property name="ram"><value>24GM</value></property>
   </bean>

</beans>